<div class="container">
    <div class="box">
      <img src="https://svgshare.com/i/5tk.svg" alt="logo minutrade" class="logo">
          <button type="buton" class="btn btn-block" (click)="signInWithFacebook()">
            <i class="fa fa-facebook" aria-hidden="true"></i> 
            <span>Entrar com o Facebook</span>
          </button>
          
          <button type="button" class="btn btn-block" (click)="signInWithGoogle()">
            <i class="fa fa-google" aria-hidden="true"></i>
            <span>Entrar com o Google</span>
          </button>
    </div>
    <div class="box">
        <p>"<em>Uma galeria de jogos surpreende</em>" <br> — Caio Corraini</p>
    </div>
</div>