<app-navbar></app-navbar>
<img [src] = "productInfo.imageURL"/><br>
        <strong>{{productInfo.name}}</strong><br>
        <strong>{{productInfo.details}}</strong><br>
        <li *ngFor = "let comentarios of productInfo.reviews">{{comentarios}}</li>
        <textarea [(ngModel)] = "comments"></textarea>
        <button (click)="sendComments(comments)">Enviar Comentário</button>
          
<share-buttons [theme]="'material-dark'"
[include]="['facebook','twitter','google']"
[showText]="true"
></share-buttons>

 
